/* Estilo general */
body {
    font-family: 'Poppins', sans-serif; /* Fuente general */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Encabezado */
header {
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #800000;
}

  
  h2.marcas {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #222;
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  article p {
    line-height: 1.8;
    color: #555;
  }
  
  article .titulo2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
  }
  

footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

footer .footer-links h4 {
    margin-bottom: 12px;
    font-weight: bold;
}

footer .footer-links ul {
    list-style: none;
    padding: 0;
}

footer .footer-links ul li {
    margin-bottom: 8px;
}

footer .footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer .footer-links ul li a:hover {
    color: #f39c12;
}

footer .social-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-link .social-icon {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

footer .social-link .social-icon:hover {
    color: #f39c12;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .order-summary, .order-form {
        padding: 20px;
        margin: 20px;
    }

    footer .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


